.btn-blue {
	background-color: rgb(0,190,230);
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: center;

}

.btn-blue:hover {
	background-color: black;
	color: white;
}

